.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 232px auto / 430px;
    justify-content: center;
    align-content: center;
    gap: 1.75rem;
}

.ball {
    width: 167px;
    height: 167px;
    background-color: var(--color-yellow);
    border-radius: 167px;
    position: absolute;
    top: 50%;
    left: 35%;
}

.square {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 13px solid var(--color-purple);
    position: absolute;
    top: 28%;
    left: 58%;
}

.search-cep-area {
    position: relative;
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-container);
    border: 1px solid rgba(255, 255, 255, 0.329);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 3.25rem;
}

.search-cep-area > h1 {
    text-align: center;
    font-family: var(--figtree);
    font-size: var(--md);
    line-height: 2.5rem;
}

.search-cep-area > h1 > span {
    color: var(--color-yellow);
}

.search-cep {
    display: grid;
    grid-auto-flow: column;
    grid-template: 53px / 300px 53px;
    gap: 0.5rem;
    z-index: 999;
}

.search-cep > input {
    background-color: var(--color-white);
    border-radius: 100px;
    padding: 0rem 1rem;
    font-family: var(--figtree);
    font-size: var(--sm);
    color: var(--color-black);
    box-shadow: var(--shadow-input);
    text-align: center;
}

.search-cep > input::placeholder {
    color: var(--color-gray);
}

.search-cep > button {
    border-radius: 100px;
    box-shadow: var(--shadow-input);
    text-align: center;
    background-color: var(--color-white);
    cursor: pointer;
    transition: all 0.5s linear;
}

.search-cep > button:hover {
    background: linear-gradient(
        43deg,
        var(--color-purple) 0%,
        var(--color-pink) 46%,
        var(--color-yellow) 100%
    );
}

.result-area {
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-container);
    border: 1px solid rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    padding: 2rem;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 40px;
    gap: 1rem;
    z-index: 999;
}

.result-area > p {
    font-family: var(--figtree);
    font-size: var(--md);
    color: var(--color-white);
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .container {
        grid-template: 232px auto / 100%;
        padding: 1rem;
    }

    .ball {
        top: 50%;
        left: 0%;
    }

    .square {
        top: 18%;
        left: 68%;
    }

    .search-cep-area {
        padding: 1rem;
    }

    .search-cep {
        grid-template: 53px / 60% 53px;
        justify-content: center;
    }

    .result-area > p {
        font-size: var(--sm);
    }
}
